@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

html{
    font-size:50%;
    overflow-x:hidden ;
    scroll-padding-top: 5.5rem;
 }
 

 body{
    font-family: Arial, sans-serif;
   background-size: cover;
   background-image: url(page1photo.avif);
 }
 
 .headeri{
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    outline: none;

}

.headeri>ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    margin-right: 30px;
    color: white;
    
}
.header>ul>li{

   color: wheat;

}
a{


    color: wheat;
    text-decoration: none;
}
 h1{
    display: flex;
    color: wheat;
    text-align: center;
    justify-content: space-evenly;    
 }

 p{
    color: wheat;
    margin: auto;


 }
  
 .about_us{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 40%;
    margin-left: 20%;
    margin-inline: 50px;
    font-size: large;
    border: 10px solid red;
    border-radius: 8px;
    box-shadow: 28px;


 }



 footer .footeri{
    color: wheat;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    border: 5px solid;
    font-size: larger;
    margin-inline: 40%;
 }










 @media (max-width: 600px){

    .about_us{
        padding: 10px;
    }
   }