html{
  font-size:50%;
  overflow-x:hidden ;
  scroll-padding-top: 5.5rem;
}

body
{
   background: url(bright-pop-landscape-design_23-2149213461.avif)no-repeat;
   background-size: cover;
   position: absolute;
   top: 0%;
   left: 0%;
   right: 0%;
   bottom: 0%;
}

.headeri{
   display: flex;
   font-size: xx-large;
   justify-content: space-between;
   outline: none;
       
}
.headeri img{
   width: 100px;
   height: 100px;

}

.headeri>ul{
   display: flex;
   align-items: center;
   flex-direction: row;
   width: 60%;
   justify-content: space-evenly;
   margin-right: 30px;
   color: white;
   
}
.headeri>ul>li{
   width: 10%;
  color: wheat;

}
a{


   color: wheat;


}








